body {
  background-color: rgb(34, 30, 30);
  font-family: sans-serif;
  color: antiquewhite;
}

.headContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.headItems{
  margin: 10px;
}

.vaults {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

.vault {
  background-color: rgb(102, 102, 109);
  opacity: .9;
  margin: 10px;
  text-align: center; 
  border-radius: 5px;   
  padding: 20px; 
  box-shadow: 0px 0px 10px  #777 
}

.boton {
  margin-top: 2px;
  border-radius: 5px; 
  font-family: sans-serif;   
  font-size: 10px;
  font-weight:bold;
  padding: 10px;  
  background-color: rgb(102, 102, 109);
  opacity: .9;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .headContainer{
      flex-direction: row;
  } 
  .vaults{
    flex-direction: row;
}  
}


